.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 100px 50px 75px 75px;
}
.cart-container{
    background-color: #ffe0b3;;
}